---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent/?access_token=sf4sdsf44ffd32e=&count=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 400, "error_type": "OAuthAccessTokenException", "error_message":
        "The access_token provided is invalid."}}'
  recorded_at: Wed, 04 Apr 2018 08:49:44 GMT
recorded_with: VCR 4.0.0
