<h1>Add a comment</h1>

<%= form_for [@parent, @comment] do |f| %>  
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', required: true %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
