---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent/?access_token=4088921481.a999fd0.64eec4699b2946d1882946ec2d8762e1&count=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"next_max_id": "1447894273604370507_4088921481", "next_url":
        "https://api.instagram.com/v1/users/4088921481/media/recent?access_token=4088921481.a999fd0.64eec4699b2946d1882946ec2d8762e1\u0026count=12\u0026max_id=1447894273604370507_4088921481"},
        "data": [{"id": "1620373843967392099_4088921481", "user": {"id": "4088921481",
        "full_name": "Ignatiy Anatolich", "profile_picture": "https://scontent.cdninstagram.com/vp/7e9e6412d3d5c82eb0b05878fc010daa/5B59A19C/t51.2885-19/s150x150/15056711_1106059822845871_1710251965767745536_n.jpg",
        "username": "ignatiy_anatolich"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/70b3a10666770b6223720354c4442a9d/5B7169F2/t51.2885-15/s150x150/e35/22220941_537318956609613_8762925794394636288_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/vp/c7793523c2ade72e533c833a60ad707b/5B5140B5/t51.2885-15/s320x320/e35/22220941_537318956609613_8762925794394636288_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/vp/729c9ccd99b1d2178b4b7f79f1586eaf/5B3B77F6/t51.2885-15/s640x640/sh0.08/e35/22220941_537318956609613_8762925794394636288_n.jpg"}},
        "created_time": "1507383636", "caption": {"id": "17889525424098194", "text":
        "\u0422\u0451\u043f\u043b\u044b\u0435 \u0434\u0435\u043d\u044c\u043a\u0438
        \ud83d\udc4d\ud83c\udfff #nature #tver #dolmatovo #sunnydays", "created_time":
        "1507383636", "from": {"id": "4088921481", "full_name": "Ignatiy Anatolich",
        "profile_picture": "https://scontent.cdninstagram.com/vp/7e9e6412d3d5c82eb0b05878fc010daa/5B59A19C/t51.2885-19/s150x150/15056711_1106059822845871_1710251965767745536_n.jpg",
        "username": "ignatiy_anatolich"}}, "user_has_liked": false, "likes": {"count":
        54}, "tags": ["tver", "dolmatovo", "sunnydays", "nature"], "filter": "Mayfair",
        "comments": {"count": 0}, "type": "image", "link": "https://www.instagram.com/p/BZ8uW0NArlj/",
        "location": {"latitude": 57.15, "longitude": 34.616666666667, "name": "Tver
        Oblast", "id": 906440901}, "attribution": null, "users_in_photo": []}, {"id":
        "1617629381356808053_4088921481", "user": {"id": "4088921481", "full_name":
        "Ignatiy Anatolich", "profile_picture": "https://scontent.cdninstagram.com/vp/7e9e6412d3d5c82eb0b05878fc010daa/5B59A19C/t51.2885-19/s150x150/15056711_1106059822845871_1710251965767745536_n.jpg",
        "username": "ignatiy_anatolich"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/1e7b1f4aa060415218565e9bb3425f5e/5B6F6C1A/t51.2885-[...]
