<%= form_for([@user, @user.images.build], html: { multipart: true }) do |f| %>
  
  <div>
    <%= f.file_field :image, class: "btn btn-default btn-file"%>
  </div>
<%= f.submit 'Upload', style:"margin-top: 10px;" %>

<% end %>
