<% provide(:title, "Photo provided by #{@image.user.name}") %>
<h1><%= "Photo provided by #{@image.user.name}" %></h1>
<%= image_tag(@image.image.thumb_lg.url, :alt => @image[:id], class:"img-responsive center-block") %>

<h2>Comments</h2>
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @image.comments %>
</ul>

<div class="center-block" style="width: 300px;height:40px;">
<%= link_to "Add a Comment", new_image_comment_path(@image), class: "btn btn-lg btn-info center-block", style:"margin-bottom: 50px;"%>
</div>
