<footer class="footer">
  <small>
    The  <%= link_to "Photo gallery", root_path, id: "logo" %>
    by <a href="https://www.facebook.com/ignat.grigorashchen.7">Ignatiy Grigorashchenko</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'static_pages/about' %></li>
      <li><%= link_to "Contact", 'static_pages/contacts' %></li>
      <li><a href="https://snp.agency/en">News</a></li>
    </ul>
  </nav>
</footer>
